.asw-menu-btn {
    background-color: #050505 !important;
}
.asw-menu-header {
    background: #1a1a1a !important;
    color: #fff;
}

.asw-footer {
    background: #080808 !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #1d1d1d!important;
    color: #fff;
}
